*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    background-color: lightcyan;
    margin: 0px auto;
    border-top: 3px solid black;
    max-width: 1000px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
    gap: 10px;
}

.blue {
    background-color: lightblue;
}

.pink{
    background-color: pink;
    justify-content: space-evenly;
}

.white{
    background-color: black;
}
.cat{
    height: 200px;
}